@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #03191b;
    font-family: 'Lato', sans-serif;
    color: white;
}
canvas{
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
    width: 100%;
    height: 100%;
    
}

h1,
h3 {
    text-align: center;
}

.profile {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    width: 150px;
}

.social {
    margin: auto;
    padding-top: 20px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.social-btn {
    padding: 10px;
    background-color: aquamarine;
    border: none;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    font-weight: bold;
    font-size: large;
    color: #03191b;
    cursor: pointer;
}

.download {
    cursor: pointer;
    margin: auto;
    display: block;
    margin-top: 20px;
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid aquamarine;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.download:hover, .social-btn:hover {
    color: black;
    background: aquamarine;
    box-shadow: 0 0 30px 5px rgba(127, 255, 212, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.download:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.download::before {
    content: '';
    display: block;
    width: 0;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.download:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}


@media only screen and (min-width: 992px) {
    /* for desktop */

}


@media only screen and (min-width: 768px) {

    /* for tablet */
    .profile {
        width: 100px;
    }

    .social {
        width: 250px;
    }

    .social-btn {
        width: 30px;
        height: 30px;
    }
}

@media only screen and (max-width: 768px) {

    /* for phones */
    .profile {
        width: 80px;
    }

    .social {
        width: 250px;
    }

    .social-btn {
        width: 25px;
        height: 25px;
    }
}